<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyc.dao.OrgRoleMapper">
  <resultMap id="BaseResultMap" type="com.wyc.entity.OrgRole">
    <id column="id_" jdbcType="VARCHAR" property="id" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="alias_" jdbcType="VARCHAR" property="alias" />
    <result column="enabled_" jdbcType="INTEGER" property="enabled" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by_" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time_" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by_" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from org_role
    where id_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wyc.entity.OrgRole">
    insert into org_role (id_, name_, alias_, 
      enabled_, description, create_time_, 
      create_by_, update_time_, update_by_
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wyc.entity.OrgRole">
    update org_role
    set name_ = #{name,jdbcType=VARCHAR},
      alias_ = #{alias,jdbcType=VARCHAR},
      enabled_ = #{enabled,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time_ = #{createTime,jdbcType=TIMESTAMP},
      create_by_ = #{createBy,jdbcType=VARCHAR},
      update_time_ = #{updateTime,jdbcType=TIMESTAMP},
      update_by_ = #{updateBy,jdbcType=VARCHAR}
    where id_ = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_, name_, alias_, enabled_, description, create_time_, create_by_, update_time_, 
    update_by_
    from org_role
    where id_ = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_, name_, alias_, enabled_, description, create_time_, create_by_, update_time_, 
    update_by_
    from org_role
  </select>
</mapper>