<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyc.dao.OrgUserMapper">
  <resultMap id="BaseResultMap" type="com.wyc.entity.OrgUser">
    <id column="id_" jdbcType="VARCHAR" property="id" />
    <result column="fullname_" jdbcType="VARCHAR" property="fullname" />
    <result column="account_" jdbcType="VARCHAR" property="account" />
    <result column="password_" jdbcType="VARCHAR" property="password" />
    <result column="email_" jdbcType="VARCHAR" property="email" />
    <result column="mobile_" jdbcType="VARCHAR" property="mobile" />
    <result column="weixin_" jdbcType="VARCHAR" property="weixin" />
    <result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by_" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time_" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by_" jdbcType="VARCHAR" property="updateBy" />
    <result column="address_" jdbcType="VARCHAR" property="address" />
    <result column="photo_" jdbcType="VARCHAR" property="photo" />
    <result column="sex_" jdbcType="VARCHAR" property="sex" />
    <result column="from_" jdbcType="VARCHAR" property="from" />
    <result column="status_" jdbcType="INTEGER" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from org_user
    where id_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wyc.entity.OrgUser">
    insert into org_user (id_, fullname_, account_, 
      password_, email_, mobile_, 
      weixin_, create_time_, create_by_, 
      update_time_, update_by_, address_, 
      photo_, sex_, from_, status_
      )
    values (#{id,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{weixin,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{from,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wyc.entity.OrgUser">
    update org_user
    set fullname_ = #{fullname,jdbcType=VARCHAR},
      account_ = #{account,jdbcType=VARCHAR},
      password_ = #{password,jdbcType=VARCHAR},
      email_ = #{email,jdbcType=VARCHAR},
      mobile_ = #{mobile,jdbcType=VARCHAR},
      weixin_ = #{weixin,jdbcType=VARCHAR},
      create_time_ = #{createTime,jdbcType=TIMESTAMP},
      create_by_ = #{createBy,jdbcType=VARCHAR},
      update_time_ = #{updateTime,jdbcType=TIMESTAMP},
      update_by_ = #{updateBy,jdbcType=VARCHAR},
      address_ = #{address,jdbcType=VARCHAR},
      photo_ = #{photo,jdbcType=VARCHAR},
      sex_ = #{sex,jdbcType=VARCHAR},
      from_ = #{from,jdbcType=VARCHAR},
      status_ = #{status,jdbcType=INTEGER}
    where id_ = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_, fullname_, account_, password_, email_, mobile_, weixin_, create_time_, 
    create_by_, update_time_, update_by_, address_, photo_, sex_, from_, status_
    from org_user
    where id_ = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_, fullname_, account_, password_, email_, mobile_, weixin_, create_time_, 
    create_by_, update_time_, update_by_, address_, photo_, sex_, from_, status_
    from org_user
  </select>

</mapper>